<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaeatsong.goteat.repository.BoardsMapper">
	<select id="selectList" resultType="Map">
		SELECT	b.id,
				b.item_name,
        		b.quantity,
        		b.scale,
        		CAST(b.quantity / b.headcnt AS SIGNED INTEGER) AS each_quantity,
        		CAST(b.total_price / b.headcnt AS SIGNED INTEGER) AS each_price,
        		b.meeting_location,
        		b.headcnt,
        		b.headcnt - b.remain_headcnt AS participants_headcnt,
        		bc.content AS category,
        		b.is_finished,
        		IF(s.board_id IS NOT NULL, 1, 0) AS is_scraped
		FROM boards b
		JOIN board_categories bc ON b.category_id = bc.id
		LEFT JOIN scraps s ON b.id = s.board_id AND s.user_id = #{uid}
		WHERE b.item_name LIKE CONCAT('%', #{keyword}, '%')
		<if test="categories != null and !categories.isEmpty()">
      	AND b.category_id IN
      	<foreach item="category" collection="categories" open="(" separator="," close=")">
          	#{category}
      	</foreach>
   		</if>
		ORDER BY b.id DESC;
	</select>

	<select id="select" parameterType="int"
		resultType="javaeatsong.goteat.model.Boards">
		SELECT * FROM boards WHERE id = #{id};
	</select>

	<insert id="insert"
		parameterType="javaeatsong.goteat.model.Boards">
		INSERT INTO boards(id, user_id, category_id , item_name , headcnt ,
		remain_headcnt , quantity , scale , total_price , meeting_location ,
		meeting_time , is_up , item_image1 , item_image2 , receipt_image ,
		latitude , longitude , is_reusable , is_finished)
		VALUES(#{id}, #{userId}, #{categoryId}, #{itemName}, #{headcnt},
		#{remainHeadcnt}, #{quantity}, #{scale}, #{totalPrice},
		#{meetingLocation}, #{meetingTime}, #{isUp}, #{itemImage1},
		#{itemImage2}, #{receiptImage}, #{latitude}, #{longitude},
		#{isReusable}, #{isFinished})
	</insert>
</mapper>