<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaeatsong.goteat.repository.BoardsMapper">
    <select id="selectListByUserId" resultType="Map">
        SELECT *
        FROM
            (SELECT b.item_name,
                   b.meeting_time,
                   m.content,
                   ROW_NUMBER() OVER(PARTITION BY m.participant_id ORDER BY p.created_at DESC) AS date_rank
            FROM participants p
            JOIN messages m
                ON p.id = m.participant_id
            JOIN boards b
                ON p.board_id = b.id
            WHERE p.organizer_id = uid
                AND b.is_finished = false)
        WHERE TRUE
            AND date_rank = 1;
    </select>
</mapper>